# Archivos compilados de Java
*.class

# Archivos compilados de C/C++
*.exe

# Directorios de salida
/bin/
/build/
/output/

# VSCode
.vscode/

# IntelliJ IDEA
.idea/
*.iml

# Archivos temporales y de sistema
*.log
*.tmp
*.bak
*~

# Archivos C
*.o
*.d
